
body {
  padding-top: 56px;
}

ul {
	list-style-type: none;
}

span {
	display: inline-block;
}

.card-img-top {
	width: 100%;
}


.result-card {
	min-width: 6rem;
	max-width: 42rem;
	min-height: 20rem;
	max-height: 36rem;
}

  .search-row {
	display: flex;
	align-content: flex-end;
}

.svg-loader{
	height: 50vmin;
	padding: 0vmin 20vmin;
	vertical-align: top;
  }