
body {
  padding-top: 56px;
}

ul {
	list-style-type: none;
}

span {
	display: inline-block;
}

.card-img-top {
	width: fit-content;
}

.header-image {
	width: 100%;
}

.result-card {
	min-width: 6rem;
	max-width: 12rem;
	min-height: 64rem;
	max-height: 20rem;
}

.svg-loader{
	height: 20vmin;
	padding: 3vmin 20vmin;
	vertical-align: top;
  }

  .search-row {
	display: flex;
	align-content: flex-end;
}