
body {
  padding-top: 56px;
}

ul {
	list-style-type: none;
}

span {
	display: inline-block;
}

.card-img {
	width: fit-content;
}

.result-card {
	min-width: 6rem;
	max-width: 12rem;
	min-height: 24rem;
}